html, body, .App {
  text-align: center;
  font-family: 'Righteous', cursive;
  background-color: #B38C33;
  color: #0E1629;
  font-size: 18px;
}
.nav, .navbar-brand {
  background-color: #0E1629;
  border: none;
}
.container {
	margin: 0 auto;
}
.sort-page {
	height: 100%;
}
.hint-card {
	background-color: #0E1629;
	color: white;
	padding: 10px;
	margin-bottom: 5px;
	height: 100px;
	overflow: scroll;
}
.covered {
	border-style: outset;
}
.uncovered {
	border-style: inset;
}
.show-grid {
	margin: 20px;
}
.video {
	background-color: #0E1629;
	padding: 15px;
}
.description
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}