html, body, .App {
  text-align: center;
  font-family: 'Righteous', cursive;
  background-color: #B38C33;
  color: #0E1629;
  font-size: 18px;
}
.nav, .navbar-brand {
  background-color: #0E1629;
  border: none;
}
.container {
	margin: 0 auto;
}
.home {
	padding: 40px;
	line-height: 100px;
}
.app-title {
	font-size: 100px;
	display: block;
}
.title-video {
	background-color: #0E1629;
}
.home-page {
	width: 600px;
	height: 350px;
	margin: 30px auto;
}
.sort-page {
	height: 100%;
}
.description {
	border: 10px solid #0E1629;
	overflow: scroll;
}
.hint-card {
	background-color: #0E1629;
	color: white;
	padding: 10px;
	margin-bottom: 5px;
	height: 100px;
	overflow: scroll;
}
.covered {
	border-style: outset;
}
.uncovered {
	border-style: inset;
}
.show-grid {
	margin: 20px;
}
.video {
	background-color: #0E1629;
	padding: 15px;
}
.description
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}